


.content {
    overflow: visible;
    background-color: #cbecd2;
}


.myCol1 {
  background-color: #ffb6c1 ;
  height: 600px ;
  }
  
.myCol2 {
  background-color: #ffb6c1 ;
  height: 600px ;
  }

.myCol3 {
  background-color: #add8e6 ;
  height: 900px ;
  }


.svg-container {
    box-shadow: -5px 5px 20px 10px #3ea3b3;
    transition: 1s;
}

.svg-container:hover {
    box-shadow: -10px 10px 50px 40px #3ea3b3;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


.pretty.p-default input:checked~.state label:after {
    background-color: #1786c7!important;
}

.pretty .state label:after, .pretty .state label:before {
    content: '';
    width: calc(1em + 2px);
    height: calc(1em + 2px);
    display: block;
    box-sizing: border-box;
    border-radius: 0;
    border: 1px solid #333;
    z-index: 0;
    position: absolute;
    left: 0;
    top: calc((0% - (100% - 1em)) - 8%);
    background-color: #f4f4f4;
}


.shiny-input-container:not(:hover) {
  background-color: auto;
    transition: 1s;
}


.shiny-input-container:hover {
    box-shadow: 10px 10px 10px 10px #c73b21;
    transition: 1s;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


.btn-default {
    background-color: #eeb1ea;
}

.btn-default:hover {
    background-color: #eeb1ea;
}

#actionbutton1:hover {
  box-shadow: 10px 10px 10px 10px #c73b21;
  transition: 1s;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#checkbox1 {
  width: 60%;
}

#knob1 {
  height: 80px;
}





.ht_master .wtHolder {
    overflow: hidden;
}

.handsontable {
    overflow: hidden;
}







#text_input {
  background-image: url(https://www.iconpacks.net/icons/2/free-search-icon-3076-thumb.png);
  background-color: #f5f2d2;
  background-position: 10px 10px;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  text-transform: uppercase;
}

#text_input:hover {
  background-image: url(https://www.iconpacks.net/icons/2/free-search-icon-3076-thumb.png);
  background-color: #f5f2d2;
  background-position: 10px 10px;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  text-transform: uppercase;
  box-shadow: -10px 10px 10px 10px #c73b21;
  transition: 1s;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}





.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

